In [3]:
import pandas as pd

df = pd.read_csv("spam.csv")

df.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [4]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [5]:
df.groupby('Category').describe()

         Message                                                            \
           count unique                                                top
Category
ham         4825   4516                             Sorry, I'll call later
spam         747    641  Please call our customer service representativ...


         freq
Category
ham        30
spam        4

In [6]:

df['spam']=df['Category'].apply(lambda x: 1 if x=='spam' else 0)

df.head()

  Category                                            Message  spam
0      ham  Go until jurong point, crazy.. Available only ...     0
1      ham                      Ok lar... Joking wif u oni...     0
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...     1
3      ham  U dun say so early hor... U c already then say...     0
4      ham  Nah I don't think he goes to usf, he lives aro...     0

In [7]:

from sklearn.model_selection import train_test_split


X_train,X_test,Y_train,Y_test = train_test_split(df.Message,df.spam,test_size=0.20)

In [8]:
X_train.describe()

count                       4457
unique                      4185
top       Sorry, I'll call later
freq                          25
Name: Message, dtype: object

In [9]:
X_test.describe()

count                       1115
unique                      1087
top       Sorry, I'll call later
freq                           5
Name: Message, dtype: object

In [10]:
4457+1115


X_train.values

array(['In meeting da. I will call you',
       "Thts god's gift for birds as humans hav some natural gift frm god..",
       'K.then any other special?', ...,
       'God picked up a flower and dippeditinaDEW, lovingly touched itwhichturnedinto u, and the he gifted tomeandsaid,THIS FRIEND IS 4U',
       "Doc prescribed me morphine cause the other pain meds aren't enough. Waiting for my mom to bring it. That med should kick in fast so I'm gonna try to be on later",
       "I'm stuck in da middle of da row on da right hand side of da lt..."],
      dtype=object)

In [11]:

from sklearn.feature_extraction.text import TfidfVectorizer

vizer =  TfidfVectorizer(stop_words='english')


X_train_count= vizer.fit_transform(X_train.values)


print(X_train_count.toarray())

[[0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 ...
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]]

In [12]:

from sklearn.naive_bayes import MultinomialNB


model = MultinomialNB()


model.fit(X_train_count,Y_train)

MultinomialNB()

In [13]:

emails =["Go until jurong point, crazy.. Available only ...","Free entry in 2 a wkly comp to win FA Cup fina..."]


emails_count = vizer.transform(emails)


res=model.predict(emails_count)


print("Outputs\n")


for i in range(len(res)):
    
    if(res[i]==1):
        ans="spam"
    else:
        ans="ham"
        
    print(emails[i],"  ",ans)

Outputs

Go until jurong point, crazy.. Available only ...    ham
Free entry in 2 a wkly comp to win FA Cup fina...    spam

In [14]:
X_test_count =  vizer.transform(X_test)


model.score(X_test_count,Y_test)

0.9730941704035875

In [16]:
from sklearn.pipeline import Pipeline

mnb_clf = Pipeline([('vectorizer',TfidfVectorizer()),('m_nb',MultinomialNB())])

mnb_clf.fit(X_train,Y_train)

Pipeline(steps=[('vectorizer', TfidfVectorizer()), ('m_nb', MultinomialNB())])

In [17]:
mnb_clf.score(X_test,Y_test)

0.9641255605381166